@tailwind components;
@tailwind utilities;

[data-tooltip] {
  position: relative;
}

[data-tooltip]:hover::after {
  @apply translate-y-0 opacity-100;
}

[data-tooltip]::after {
  content: attr(data-tooltip);
  width: max-content;
  @apply max-w-[8em] transition text-xs px-1.5 py-0.5 text-white bg-black rounded-sm absolute bottom-[calc(100%+0.5rem)] md:bottom-auto md:top-[calc(100%+1rem)] left-1/2 -translate-x-1/2 translate-y-1 opacity-0  pointer-events-none;
}

[disabled] {
  @apply text-gray-300 cursor-default;
}

.ProseMirror > * {
  @apply max-w-2xl mx-auto max-sm:px-4;
}

[data-block-width="wide"] {
  @apply max-w-4xl  !important;
}

[data-block-width="full"] {
  @apply max-w-none px-0 !important;
}

.hide-empty:empty {
  display: none !important;
}

.ProseMirror:focus-visible {
  outline: none;
}

.ProseMirror > *:first-child {
  margin-top: 0;
}

.ProseMirror-gapcursor {
  @apply mx-auto mt-6 block relative !important;
}

.ProseMirror-gapcursor:after {
  @apply block relative border-t-0 border-l h-6 border-black !important;
}

.ProseMirror table p {
  @apply my-0;
}

.ProseMirror table p + p {
  @apply mt-2;
}

blockquote .ProseMirror-trailingBreak {
  display: none;
}

.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #adb5bd;
  pointer-events: none;
  height: 0;
}

.ProseMirror-selectednode {
  outline: 2px solid lightblue;
}

.ProseMirror p.is-empty::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.ProseMirror table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.ProseMirror td,
.ProseMirror th {
  min-width: 1em;
  border: 1px solid #ced4da;
  padding: 0.2rem 0.5rem;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
}

.ProseMirror td > *,
.ProseMirror th > * {
  margin-bottom: 0;
}

/* .ProseMirror th {
  font-weight: bold;
  text-align: left;
  @apply bg-slate-50;
} */

.ProseMirror .selectedCell:after {
  z-index: 2;
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(200, 200, 255, 0.4);
  pointer-events: none;
}

.ProseMirror table p {
  margin: 0;
}

.column-resize-handle {
  position: absolute;
  right: -2px;
  top: 0;
  bottom: -2px;
  width: 4px;
  background-color: #adf;
  pointer-events: none;
}

.tableWrapper {
  overflow-x: auto;
}

.resize-cursor {
  cursor: ew-resize;
  cursor: col-resize;
}
